:root {
    --md-code-font-size: 15px;
}

.md-typeset table:not([class]) {
    border: 1px solid #dfe2e5;
    border-collapse: collapse;
    display: table;
    width: 100%;
}

.md-typeset td, .md-typeset th {
    border: 1px solid #dfe2e5;
    padding: 10px 15px;
}


.md-typeset th {
    background-color: #f8f9fa;
}


.md-typeset tr:hover {
    background-color: #f1f4f8;
}